@tailwind base;
@tailwind components;
@tailwind utilities;

.parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}
.child{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 900;
  width: fit-content;
  height: 250px;
  margin-left: 20px;
}
.heading{
  font-size: 60px;
  font-weight: 900;
  margin-left: 20px;
}
.color{
  color: blue;
}
