@tailwind base;
@tailwind components;
@tailwind utilities;

.parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  background-color: antiquewhite;
}
.child{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 900;
  width: fit-content;
  height: 250px;
  margin-left: 20px;
}
.heading{
  font-size: 60px;
  font-weight: 900;
  margin-left: 20px;
}
.color{
  color: blue;
}

.greenColor{
  color: rgb(0, 162, 255);
}

.header{
  background-color: rgb(255, 153, 0);
}

.headerButtons{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: blanchedalmond;
  font-size: 40px;
  gap: 40px;
}

.image{
  margin: 30px;
  
}
.items{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}